@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #babed8;
  --foreground: #292d3e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292d3e;
    --foreground: #babed8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
